.container{
    max-width: 90%;
}
.texts{
    align-self: flex-start;
}
.code{
    align-self: flex-start;
    height: 400px;
}
.curvy{
    height: 400px;
    min-width: 100%;
}

@media screen and (max-width: 768px) {
    .navTitle {
        width: 100%;
    }
    .navUi{
        position: absolute;
        top: 0;
        background-color: white;
        color: black;
        width: 100%;
    }
    .links{
        width: 100%;
    }
}
