.container{
    max-width: 90%;
}
.psections p{
    margin-top: 10px;
}
@media screen and (max-width: 768px) {
    .navTitle {
        width: 100%;
    }
    .navUi{
        position: absolute;
        top: 0;
        background-color: white;
        color: black;
        width: 100%;
    }
    .links{
        width: 100%;
    }
}
